openapi: 3.2.0
info:
  title: CNH FieldOps Equipment API
  description: The CNH FieldOps API provides programmatic access to agronomic data and vehicle telemetry for both agronomic machinery and construction equipment connected to a FieldOps account.
  version: 1.0.0
  contact:
    name: CNH Developer Support
    url: https://develop.cnh.com/
  license:
    name: CNH Industrial Privacy Policy
    url: https://www.cnhindustrial.com/en-us/privacy/pages/default.aspx
servers:
- url: https://api.fieldops.cnh.com
  description: CNH FieldOps API
security:
- oauth2: []
tags:
- name: Equipment
  description: Fleet and equipment details.
paths:
  /equipment:
    get:
      operationId: listEquipment
      summary: List equipment
      description: Returns equipment registered to the authenticated user's FieldOps account.
      tags:
      - Equipment
      parameters:
      - name: brand
        in: query
        schema:
          type: string
          enum:
          - CASE_IH
          - NEW_HOLLAND
          - STEYR
          - CASE_CE
          - NEW_HOLLAND_CONSTRUCTION
      - name: vehicleType
        in: query
        schema:
          type: string
          enum:
          - TRACTOR
          - COMBINE
          - SPRAYER
          - CONSTRUCTION
      responses:
        '200':
          description: Equipment list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Equipment'
        '401':
          description: Unauthorized
  /equipment/{vehicleId}:
    get:
      operationId: getEquipment
      summary: Get equipment by vehicle ID
      tags:
      - Equipment
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Equipment detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        '404':
          description: Not found
components:
  schemas:
    Equipment:
      type: object
      properties:
        vehicleId:
          type: string
        brand:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        year:
          type: integer
        vehicleType:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://develop.cnh.com/oauth/authorize
          tokenUrl: https://develop.cnh.com/oauth/token
          scopes:
            telemetry: Access vehicle telemetry data
            equipment: Access equipment metadata
            farm: Access farm setup
            prescriptions: Send prescription Rx files
            webhooks: Manage webhook subscriptions
