openapi: 3.2.0
info:
  title: CNH FieldOps Operations API
  description: The CNH FieldOps API provides programmatic access to agronomic data and vehicle telemetry for both agronomic machinery and construction equipment connected to a FieldOps account.
  version: 1.0.0
  contact:
    name: CNH Developer Support
    url: https://develop.cnh.com/
  license:
    name: CNH Industrial Privacy Policy
    url: https://www.cnhindustrial.com/en-us/privacy/pages/default.aspx
servers:
- url: https://api.fieldops.cnh.com
  description: CNH FieldOps API
security:
- oauth2: []
tags:
- name: Operations
  description: Operations by vehicle.
paths:
  /operations/by-vehicle/{vehicleId}:
    get:
      operationId: listOperationsByVehicle
      summary: List operations by vehicle
      tags:
      - Operations
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Operations list.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://develop.cnh.com/oauth/authorize
          tokenUrl: https://develop.cnh.com/oauth/token
          scopes:
            telemetry: Access vehicle telemetry data
            equipment: Access equipment metadata
            farm: Access farm setup
            prescriptions: Send prescription Rx files
            webhooks: Manage webhook subscriptions
