openapi: 3.2.0
info:
  title: CNH FieldOps Tokens API
  description: The CNH FieldOps API provides programmatic access to agronomic data and vehicle telemetry for both agronomic machinery and construction equipment connected to a FieldOps account.
  version: 1.0.0
  contact:
    name: CNH Developer Support
    url: https://develop.cnh.com/
  license:
    name: CNH Industrial Privacy Policy
    url: https://www.cnhindustrial.com/en-us/privacy/pages/default.aspx
servers:
- url: https://api.fieldops.cnh.com
  description: CNH FieldOps API
security:
- oauth2: []
tags:
- name: Tokens
  description: OAuth refresh and access token management.
paths:
  /oauth/token:
    post:
      operationId: createAccessToken
      summary: Exchange refresh token for access token
      description: Exchange a refresh token for a short-lived access token.
      tags:
      - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              - refresh_token
              properties:
                grant_type:
                  type: string
                  enum:
                  - refresh_token
                refresh_token:
                  type: string
                  description: Long-lived refresh token issued by CNH Developer Portal.
      responses:
        '200':
          description: Token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        '401':
          description: Invalid or expired refresh token.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://develop.cnh.com/oauth/authorize
          tokenUrl: https://develop.cnh.com/oauth/token
          scopes:
            telemetry: Access vehicle telemetry data
            equipment: Access equipment metadata
            farm: Access farm setup
            prescriptions: Send prescription Rx files
            webhooks: Manage webhook subscriptions
