openapi: 3.2.0
info:
  title: CNH FieldOps Farm Setup API
  description: The CNH FieldOps API provides programmatic access to agronomic data and vehicle telemetry for both agronomic machinery and construction equipment connected to a FieldOps account.
  version: 1.0.0
  contact:
    name: CNH Developer Support
    url: https://develop.cnh.com/
  license:
    name: CNH Industrial Privacy Policy
    url: https://www.cnhindustrial.com/en-us/privacy/pages/default.aspx
servers:
- url: https://api.fieldops.cnh.com
  description: CNH FieldOps API
security:
- oauth2: []
tags:
- name: Farm Setup
  description: Grower, farm, field, and boundary management.
paths:
  /growers:
    get:
      operationId: listGrowers
      summary: List growers
      tags:
      - Farm Setup
      responses:
        '200':
          description: Growers list.
  /farms:
    get:
      operationId: listFarms
      summary: List farms
      tags:
      - Farm Setup
      parameters:
      - name: growerId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Farms list.
  /fields:
    get:
      operationId: listFields
      summary: List fields
      tags:
      - Farm Setup
      parameters:
      - name: farmId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Fields list.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://develop.cnh.com/oauth/authorize
          tokenUrl: https://develop.cnh.com/oauth/token
          scopes:
            telemetry: Access vehicle telemetry data
            equipment: Access equipment metadata
            farm: Access farm setup
            prescriptions: Send prescription Rx files
            webhooks: Manage webhook subscriptions
